.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.col{margin-top: 0%;
    display: flex;
    justify-content: space-between;

}
.course-col{
    flex-basis: 31%;
    background:#fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.center{
    text-align: center;
    background-color: #5f2d0d;
    color: #fff;
    padding: 1rem;
}
.activities{
    background-color: whitesmoke;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.row img{
    border-radius: 5%;
}
.col img{
    border-radius: 5%;
}
