
body{background :whitesmoke ;}
nav{display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
    }
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
} 
.nav-links ul li a{
    color: #ffff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: ''; 
    width:0%;
    height: 2px;
    background: #fff;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
@media(max-width:700px){

}
.header{
    height:50vh;
    width:100%;
    background-image: url(contactusbackground.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.location{
    width: 40%;
    padding: 80px ;
   /*  margin-top: 5%; */
    display: flex;
    justify-content: space-between;
   
}
.location iframe{
    width: 100%;
  /*   margin-top: 5%; */
    display: flex;
    justify-content: space-between;
    padding-inline-start: 40%;
    
}
.contactus{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 5px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #5f2d0d;
    margin: 10px;
    margin-right: 30px;}
.contact-col div p{
    padding: 0;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 400;
}
.contact-col div b{
    margin-left: 10px;
}
.map1{
    margin-right: 100px;
   
}
.map2{
    margin-right: 100px;
}
.map3{
    margin-right: 100px;
}
