/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color:whitesmoke;
  color: #333;
}

header {
 
  color: #7f5b55;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 1rem;
}

nav ul li a {
  color: #7f5b55;
  text-decoration: none;
}

section {
  padding: 2rem;
  margin: 2rem auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}
nav{display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.nav-tags{
flex: 1;
text-align: center;
}
.nav-tags ul li{
list-style: none;
display: inline-block;
padding: 8px 12px;
position: relative;

} 
.nav-tags ul li::after{
  content: ''; 
  width:0%;
  height: 2px;
  background: #7f5b55;
  display: block;
  margin:auto;
  transition: 0.5s;
}
.nav-tags ul li:hover::after{
  width:100%;}


